.admin-navbar {
  height: 64px;
  display: flex;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;;
}

.spacer {
  flex: 1;
}

.admin-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
}

.admin-name {
  line-height: 24px;
}

.back-button {

  font-weight: 500;
  text-transform: none;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.back-button mat-icon {
  margin-right: 4px;
}
