<mat-toolbar color="primary" class="admin-navbar">
  <span class="logo" (click)="goToDashboard()">V-Shop Admin</span>
  <span class="spacer"></span>

  <button mat-button class="back-button" (click)="goToClient()">
    <mat-icon>arrow_back</mat-icon>
    <span>Trang người dùng</span>
  </button>

  <div class="admin-user" [matMenuTriggerFor]="adminMenu">
    <mat-icon>account_circle</mat-icon>
    <span class="admin-name">{{ username }}</span>
  </div>

  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Đăng xuất</span>
    </button>
  </mat-menu>
</mat-toolbar>
