<input #fileInput type="file" (change)="onFileSelected($event)" hidden />
<button mat-raised-button color="primary" (click)="triggerFileSelect()">Chọn ảnh</button>

@if (uploadedImageUrl) {
  <img [src]="uploadedImageUrl" alt="Banner Preview" class="banner-preview" />
}

@if (uploadedImageUrl) {
  <mat-form-field appearance="fill">
    <mat-label>Tên banner</mat-label>
    <input matInput [(ngModel)]="bannerName" />
  </mat-form-field>
}

@if (uploadedImageUrl) {
  <button mat-raised-button color="accent" (click)="saveBanner()">
    Lưu banner
  </button>
}

@for (banner of banners; track banner) {
  <mat-card class="banner-card">
    <mat-card-content class="banner-name">
      {{ banner.name }}
    </mat-card-content>
    <div class="banner-row">
      <img [src]="banner.url" alt="Banner" class="banner-image" />
      <button mat-raised-button color="warn" (click)="deleteBanner(banner.id!)" class="delete-button">
        <mat-icon>delete</mat-icon>
        Xóa
      </button>
    </div>
  </mat-card>
}
